In [14]:
try:
  from fredapi import Fred
except:
  !pip install fredapi > /dev/null
  from fredapi import Fred

In [62]:
try:
  import yfinance as yf
except:
  !pip install yfinance > /dev/null
  import yfinance as yf

In [15]:
from google.colab import userdata
import pandas as pd

In [16]:
fred = Fred(api_key=userdata.get('fredkey'))

# Question 1
Average GDP growth in 2023

In [30]:
# Get data
data = pd.DataFrame(fred.get_series('GDPC1')).rename(columns={0:"gdp"})

In [31]:
# Filter data of interest, from 2022 onwards
data = data[data.index >= pd.to_datetime("2022-01-01")]

In [36]:
# Calculate lagged values and growth rates
data["lag_gdp"] = data["gdp"].shift(4)
data["yoy_growth"] = data.apply(lambda row: ((row["gdp"]/row["lag_gdp"])-1)*100, axis=1)

In [39]:
# Restrict the range to 20203 to calculate average growth rate
average_growth = data[(data.index >= pd.to_datetime("2023-01-01")) &
 (data.index <= pd.to_datetime("2023-12-31"))]["yoy_growth"].mean()

In [40]:
round(average_growth, 1)

2.5

# Question 2

Minimum inverse "Treasury Yield" since 2000

In [57]:
# Get data, rename index for easier merge
dgs2 = pd.DataFrame(fred.get_series('DGS2')).rename(columns={0:"dgs2"}).rename_axis("date", axis="index")
dgs10 = pd.DataFrame(fred.get_series('DGS10')).rename(columns={0:"dgs10"}).rename_axis("date", axis="index")

In [58]:
dgs_df = dgs2.merge(dgs10, on="date")

In [59]:
# Filter data of interest, from 2000 onwards
dgs_df = dgs_df[dgs_df.index >= pd.to_datetime("2000-01-01")]

In [60]:
# Calculate inverse treasury yield and find minimum
dgs_df["inv_ty"] = dgs_df.apply(lambda row: row["dgs10"]-row["dgs2"], axis=1)

In [61]:
round(dgs_df["inv_ty"].min(),1)

-1.1

# Question 3

Which Index is better recently?

In [69]:
indexes_df = yf.download("^GSPC ^MXX", start="2019-04-09", end="2024-04-10") # End is excluded, need to add one day

[*********************100%%**********************]  2 of 2 completed

In [81]:
sp500_growth = ((
    (indexes_df["Close"]["^GSPC"].tail(1).values /
     indexes_df["Close"]["^GSPC"].head(1).values) - 1)
     * 100
)

In [82]:
sp500_growth

array([81.01279427])

In [80]:
ipc_growth = ((
    (indexes_df["Close"]["^MXX"].tail(1).values /
     indexes_df["Close"]["^MXX"].head(1).values) - 1)
     * 100
)
ipc_growth

array([27.50624913])

# Question 4

52-week range ratio for selected stocks

In [87]:
# Create the list of stocks
stocks_list = ["2222.SR", "BRK-B", "AAPL", "MSFT", "GOOG", "JPM"]

In [88]:
stocks_df = yf.download(" ".join(stocks_list), start="2023-01-01", end="2024-01-01") # End is excluded, need to add one day

[*********************100%%**********************]  6 of 6 completed

In [94]:
# find max and min adj close for each stock and save in a dict
results_list = []

for stock in stocks_list:
  min_close = stocks_df["Adj Close"][stock].min()
  max_close = stocks_df["Adj Close"][stock].max()
  results_list.append({
      "stock": stock,
      "min": min_close,
      "max":max_close,
      "range_ratio": (max_close-min_close)/max_close})

In [97]:
results_list.sort(key=lambda x: x["range_ratio"])

In [99]:
results_list[-1]

{'stock': 'MSFT',
 'min': 219.94937133789062,
 'max': 381.9936218261719,
 'range_ratio': 0.4242066914981641}

# Question 5

Dividend Yield

In [136]:
results_dividend = []
for stock in stocks_list:
  handle = yf.Ticker(stock)
  # Get dividendds
  div_df = pd.DataFrame(handle.dividends)
  # Need to add utc=True for comparison with index
  div_df = div_df[(div_df.index >= pd.to_datetime("2023-01-01", utc=True)) &
                  (div_df.index <= pd.to_datetime("2024-01-01", utc=True))]
  dividend_total = div_df.Dividends.sum()
  stock_data = yf.download(stock, start="2023-12-20", end="2024-01-01")
  last_close = stock_data["Adj Close"].tail(1).values[0]
  results_dividend.append({
      "stock": stock,
      "dividend_total": dividend_total,
      "last_close": last_close,
      "dividend_yield":round((dividend_total/last_close)*100,1)
  })

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [137]:
results_dividend.sort(key=lambda x: x["dividend_yield"])

results_dividend[-1]

{'stock': '2222.SR',
 'dividend_total': 0.9107640000000001,
 'last_close': 32.82804870605469,
 'dividend_yield': 2.8}

# Question 6

Explore additional metrics

In [139]:
saudi = yf.Ticker("2222.SR")

In [140]:
saudi.income_stmt

,2023-12-31,2022-12-31,2021-12-31,2020-12-31
Tax Effect Of Unusual Items,0.0,0.0,0.0,5800000.0
Tax Rate For Calcs,0.2,0.2,0.2,0.2
Normalized EBITDA,993293000000.0,1253462000000.0,867100000000.0,459167000000.0
Total Unusual Items,NaN,NaN,13000000.0,29000000.0
Total Unusual Items Excluding Goodwill,NaN,NaN,13000000.0,29000000.0
Net Income From Continuing Operation Net Minority Interest,452753000000.0,597215000000.0,395203000000.0,184926000000.0
Reconciled Depreciation,97040000000.0,91618000000.0,85521000000.0,76208000000.0
Reconciled Cost Of Revenue,664788000000.0,684220000000.0,659186000000.0,421638000000.0
EBITDA,993293000000.0,1253462000000.0,867100000000.0,459196000000.0
EBIT,896253000000.0,1161844000000.0,781579000000.0,382988000000.0
Net Interest Income,20204000000.0,4433000000.0,-11250000000.0,-8747000000.0
Interest Expense,8186000000.0,8882000000.0,12058000000.0,10564000000.0
Interest Income,22275000000.0,7955000000.0,795000000.0,1817000000.0
Normalized Income,452753000000.0,597215000000.0,395203000000.0,184902800000.0
Net Income From Continuing And Discontinued Operation,452753000000.0,597215000000.0,395203000000.0,184926000000.0
Total Expenses,988086000000.0,1122296000000.0,729840000000.0,478731000000.0
Rent Expense Supplemental,231795000000.0,341510000000.0,NaN,NaN
Total Operating Income As Reported,868287000000.0,1144077000000.0,771918000000.0,383360000000.0
Diluted Average Shares,NaN,241907000000.0,241886700000.0,241859640000.0
Basic Average Shares,NaN,241907000000.0,241886700000.0,241859640000.0
Diluted EPS,NaN,2.47,1.636364,0.768595
Basic EPS,NaN,2.47,1.636364,0.768595
Diluted NI Availto Com Stockholders,452753000000.0,597215000000.0,395203000000.0,184926000000.0
Net Income Common Stockholders,452753000000.0,597215000000.0,395203000000.0,184926000000.0
Otherunder Preferred Stock Dividend,0.0,0.0,0.0,0.0
Net Income,452753000000.0,597215000000.0,395203000000.0,184926000000.0
Minority Interests,-2011000000.0,-6790000000.0,-17193000000.0,1163000000.0
Net Income Including Noncontrolling Interests,454764000000.0,604005000000.0,412396000000.0,183763000000.0
Net Income Continuous Operations,454764000000.0,604005000000.0,412396000000.0,183763000000.0
Tax Provision,433303000000.0,548957000000.0,357125000000.0,188661000000.0
Pretax Income,888067000000.0,1152962000000.0,769521000000.0,372424000000.0
Net Non Operating Interest Income Expense,20204000000.0,4433000000.0,-11250000000.0,-8747000000.0
Total Other Finance Cost,-6115000000.0,-5360000000.0,-13000000.0,439000000.0
Interest Expense Non Operating,8186000000.0,8882000000.0,12058000000.0,10564000000.0
Interest Income Non Operating,22275000000.0,7955000000.0,795000000.0,1817000000.0
Operating Income,868287000000.0,1144077000000.0,771918000000.0,383360000000.0
Operating Expense,323298000000.0,438076000000.0,70654000000.0,57093000000.0
Other Operating Expenses,9416000000.0,8447000000.0,7285000000.0,7293000000.0
Research And Development,5197000000.0,4419000000.0,3873000000.0,2830000000.0
Selling General And Administration,76890000000.0,83700000000.0,59496000000.0,46970000000.0
Selling And Marketing Expense,76890000000.0,83700000000.0,59496000000.0,46970000000.0
General And Administrative Expense,NaN,83700000000.0,59496000000.0,46970000000.0
Rent And Landing Fees,231795000000.0,341510000000.0,NaN,NaN
Gross Profit,1191585000000.0,1582153000000.0,842572000000.0,440453000000.0
Cost Of Revenue,664788000000.0,684220000000.0,659186000000.0,421638000000.0
Total Revenue,1856373000000.0,2266373000000.0,1501758000000.0,862091000000.0
Operating Revenue,1856373000000.0,2266373000000.0,1501758000000.0,862091000000.0

In [141]:
saudi.quarterly_income_stmt

,2023-12-31,2023-09-30,2023-06-30,2023-03-31
Tax Effect Of Unusual Items,0.0,0.0,0.0,0.0
Tax Rate For Calcs,0.2,0.2,0.2,0.2
Normalized EBITDA,231952000000.0,264676000000.0,242279000000.0,254386000000.0
Net Income From Continuing Operation Net Minority Interest,102867000000.0,123534000000.0,108881000000.0,117471000000.0
Reconciled Depreciation,28018000000.0,24355000000.0,22692000000.0,21975000000.0
Reconciled Cost Of Revenue,3402000000.0,223685000000.0,217982000000.0,219719000000.0
EBITDA,231952000000.0,264676000000.0,242279000000.0,254386000000.0
EBIT,203934000000.0,240321000000.0,219587000000.0,232411000000.0
Net Interest Income,1804000000.0,4941000000.0,5668000000.0,7791000000.0
Interest Expense,905000000.0,1948000000.0,2156000000.0,3177000000.0
Interest Income,-3406000000.0,6889000000.0,7824000000.0,10968000000.0
Normalized Income,102867000000.0,123534000000.0,108881000000.0,117471000000.0
Net Income From Continuing And Discontinued Operation,102867000000.0,123534000000.0,108881000000.0,117471000000.0
Total Expenses,260183000000.0,254489000000.0,235765000000.0,237649000000.0
Total Operating Income As Reported,199104000000.0,234446000000.0,212553000000.0,222184000000.0
Diluted Average Shares,NaN,242223529412.0,241957777778.0,263710408163.0
Basic Average Shares,NaN,242223529412.0,241957777778.0,263710408163.0
Diluted EPS,NaN,0.51,0.45,0.445455
Basic EPS,NaN,0.51,0.45,0.445455
Diluted NI Availto Com Stockholders,102867000000.0,123534000000.0,108881000000.0,117471000000.0
Net Income Common Stockholders,102867000000.0,123534000000.0,108881000000.0,117471000000.0
Otherunder Preferred Stock Dividend,0.0,0.0,0.0,0.0
Net Income,102867000000.0,123534000000.0,108881000000.0,117471000000.0
Minority Interests,2643000000.0,1346000000.0,-3929000000.0,-2071000000.0
Net Income Including Noncontrolling Interests,100224000000.0,122188000000.0,112810000000.0,119542000000.0
Net Income Continuous Operations,100224000000.0,122188000000.0,112810000000.0,119542000000.0
Tax Provision,102805000000.0,116185000000.0,104621000000.0,109692000000.0
Pretax Income,203029000000.0,238373000000.0,217431000000.0,229234000000.0
Net Non Operating Interest Income Expense,1804000000.0,4941000000.0,5668000000.0,7791000000.0
Interest Expense Non Operating,905000000.0,1948000000.0,2156000000.0,3177000000.0
Interest Income Non Operating,-3406000000.0,6889000000.0,7824000000.0,10968000000.0
Operating Income,199104000000.0,234446000000.0,212553000000.0,222184000000.0
Operating Expense,256781000000.0,30804000000.0,17783000000.0,17930000000.0
Other Operating Expenses,3341000000.0,1962000000.0,2361000000.0,1752000000.0
Research And Development,2172000000.0,1042000000.0,1052000000.0,931000000.0
Selling General And Administration,19473000000.0,27800000000.0,14370000000.0,15247000000.0
Selling And Marketing Expense,19473000000.0,27800000000.0,14370000000.0,15247000000.0
General And Administrative Expense,NaN,27800000000.0,14370000000.0,15247000000.0
Gross Profit,455885000000.0,265250000000.0,230336000000.0,240114000000.0
Cost Of Revenue,3402000000.0,223685000000.0,217982000000.0,219719000000.0
Total Revenue,459287000000.0,488935000000.0,448318000000.0,459833000000.0
Operating Revenue,459287000000.0,488935000000.0,448318000000.0,459833000000.0

In [142]:
saudi.cashflow

,2023-12-31,2022-12-31,2021-12-31,2020-12-31
Free Cash Flow,379506000000.0,556991000000.0,402956000000.0,184267000000.0
Repurchase Of Capital Stock,NaN,NaN,NaN,0.0
Repayment Of Debt,-134495000000.0,-132514000000.0,-73563000000.0,-42125000000.0
Issuance Of Debt,32057000000.0,9082000000.0,42213000000.0,87520000000.0
Issuance Of Capital Stock,662000000.0,550000000.0,384000000.0,NaN
Capital Expenditure,-158308000000.0,-141161000000.0,-119645000000.0,-101030000000.0
End Cash Position,198973000000.0,226047000000.0,299579000000.0,207232000000.0
Beginning Cash Position,226047000000.0,299579000000.0,207232000000.0,177706000000.0
Changes In Cash,-27074000000.0,-73532000000.0,92347000000.0,29526000000.0
Financing Cash Flow,-510869000000.0,-382675000000.0,-294513000000.0,-234872000000.0
Net Other Financing Charges,NaN,57895000000.0,46547000000.0,NaN
Interest Paid Cff,-14352000000.0,-9839000000.0,-9534000000.0,-7497000000.0
Cash Dividends Paid,-366674000000.0,-281318000000.0,-281305000000.0,-261184000000.0
Common Stock Dividend Paid,-366674000000.0,-281318000000.0,-281305000000.0,-261184000000.0
Net Common Stock Issuance,662000000.0,550000000.0,384000000.0,0.0
Common Stock Payments,NaN,NaN,NaN,0.0
Common Stock Issuance,662000000.0,550000000.0,384000000.0,NaN
Net Issuance Payments Of Debt,-102438000000.0,-123432000000.0,-31350000000.0,45395000000.0
Net Long Term Debt Issuance,-102438000000.0,-123432000000.0,-31350000000.0,45395000000.0
Long Term Debt Payments,-134495000000.0,-132514000000.0,-73563000000.0,-42125000000.0
Long Term Debt Issuance,32057000000.0,9082000000.0,42213000000.0,87520000000.0
Investing Cash Flow,-54019000000.0,-389009000000.0,-135741000000.0,-20899000000.0
Net Other Investing Changes,25628000000.0,5950000000.0,NaN,NaN
Interest Received Cfi,NaN,5950000000.0,1232000000.0,3698000000.0
Dividends Received Cfi,411000000.0,390000000.0,369000000.0,382000000.0
Net Investment Purchase And Sale,88190000000.0,-257177000000.0,-21791000000.0,46472000000.0
Sale Of Investment,96872000000.0,NaN,NaN,47071000000.0
Purchase Of Investment,-8682000000.0,-257177000000.0,-21791000000.0,-599000000.0
Net Business Purchase And Sale,-9940000000.0,2989000000.0,4094000000.0,29579000000.0
Sale Of Business,3545000000.0,6186000000.0,4651000000.0,30116000000.0
Purchase Of Business,-13485000000.0,-3197000000.0,-557000000.0,-537000000.0
Capital Expenditure Reported,-158308000000.0,-141161000000.0,-119645000000.0,-101030000000.0
Operating Cash Flow,537814000000.0,698152000000.0,522601000000.0,285297000000.0
Taxes Refund Paid,-441120000000.0,-502856000000.0,-292818000000.0,-198204000000.0
Change In Working Capital,5063000000.0,-44058000000.0,-53152000000.0,13316000000.0
Change In Other Current Assets,-20745000000.0,2511000000.0,-7302000000.0,-11377000000.0
Change In Payable,7799000000.0,15935000000.0,41572000000.0,-22722000000.0
Change In Inventory,11285000000.0,-26555000000.0,-23157000000.0,15890000000.0
Change In Receivables,5214000000.0,-36134000000.0,-67612000000.0,30058000000.0
Other Non Cash Items,-22543000000.0,-3282000000.0,13980000000.0,12768000000.0
Depreciation And Amortization,97040000000.0,91618000000.0,85521000000.0,76208000000.0
Depreciation,97040000000.0,91618000000.0,85521000000.0,76208000000.0
Gain Loss On Investment Securities,2483000000.0,-136000000.0,27000000.0,-354000000.0
Gain Loss On Sale Of PPE,1805000000.0,3861000000.0,3971000000.0,2020000000.0
Gain Loss On Sale Of Business,NaN,NaN,NaN,0.0
Net Income From Continuing Operations,888067000000.0,1152962000000.0,769521000000.0,372424000000.0

In [143]:
saudi.quarterly_cashflow

,2023-12-31,2023-09-30,2023-06-30,2023-03-31
Free Cash Flow,100540000000.0,76280000000.0,86836000000.0,115850000000.0
Repayment Of Debt,-12001000000.0,-1585000000.0,-61058000000.0,-59851000000.0
Issuance Of Debt,11854000000.0,2406000000.0,2089000000.0,15708000000.0
Issuance Of Capital Stock,165000000.0,177000000.0,165000000.0,155000000.0
Capital Expenditure,-44918000000.0,-41354000000.0,-39239000000.0,-32797000000.0
End Cash Position,198973000000.0,191022000000.0,248891000000.0,340674000000.0
Beginning Cash Position,191022000000.0,248891000000.0,340674000000.0,226047000000.0
Changes In Cash,7951000000.0,-57869000000.0,-91783000000.0,114627000000.0
Financing Cash Flow,-123132000000.0,-117819000000.0,-145574000000.0,-124344000000.0
Interest Paid Cff,-4698000000.0,-2575000000.0,-4875000000.0,-2204000000.0
Cash Dividends Paid,-110183000000.0,-110181000000.0,-73160000000.0,-73150000000.0
Common Stock Dividend Paid,-110183000000.0,-110181000000.0,-73160000000.0,-73150000000.0
Net Common Stock Issuance,165000000.0,177000000.0,165000000.0,155000000.0
Common Stock Issuance,165000000.0,177000000.0,165000000.0,155000000.0
Net Issuance Payments Of Debt,-147000000.0,821000000.0,-58969000000.0,-44143000000.0
Net Long Term Debt Issuance,-147000000.0,821000000.0,-58969000000.0,-44143000000.0
Long Term Debt Payments,-12001000000.0,-1585000000.0,-61058000000.0,-59851000000.0
Long Term Debt Issuance,11854000000.0,2406000000.0,2089000000.0,15708000000.0
Investing Cash Flow,-14375000000.0,-57684000000.0,-72284000000.0,90324000000.0
Interest Received Cfi,NaN,6563000000.0,5985000000.0,6813000000.0
Dividends Received Cfi,47000000.0,2000000.0,341000000.0,21000000.0
Net Investment Purchase And Sale,23884000000.0,-22326000000.0,-38323000000.0,124955000000.0
Sale Of Investment,24313000000.0,NaN,NaN,125611000000.0
Purchase Of Investment,-429000000.0,-22326000000.0,NaN,-656000000.0
Net Business Purchase And Sale,345000000.0,-569000000.0,-1048000000.0,-8668000000.0
Sale Of Business,767000000.0,450000000.0,1006000000.0,1322000000.0
Purchase Of Business,-422000000.0,-1019000000.0,-2054000000.0,-9990000000.0
Capital Expenditure Reported,-44918000000.0,-41354000000.0,-39239000000.0,-32797000000.0
Operating Cash Flow,145458000000.0,117634000000.0,126075000000.0,148647000000.0
Taxes Refund Paid,-109526000000.0,-100497000000.0,-116105000000.0,-114992000000.0
Change In Working Capital,25703000000.0,-43146000000.0,5883000000.0,16623000000.0
Change In Other Current Assets,-658000000.0,-14518000000.0,-3150000000.0,-2419000000.0
Change In Payable,-19618000000.0,32071000000.0,2332000000.0,-6986000000.0
Change In Inventory,9689000000.0,-15070000000.0,2773000000.0,13893000000.0
Change In Receivables,35884000000.0,-45477000000.0,3209000000.0,11598000000.0
Other Non Cash Items,-3781000000.0,-6908000000.0,-5869000000.0,-5985000000.0
Depreciation And Amortization,28018000000.0,24355000000.0,22692000000.0,21975000000.0
Depreciation,28018000000.0,24355000000.0,22692000000.0,21975000000.0
Gain Loss On Investment Securities,-623000000.0,3258000000.0,-59000000.0,-93000000.0
Gain Loss On Sale Of PPE,407000000.0,321000000.0,457000000.0,620000000.0
Net Income From Continuing Operations,203029000000.0,238373000000.0,217431000000.0,229234000000.0